#app {
  font-size: 20px;
  text-align: center;
}

.message {
  font-size: 40px;
}

.start {
  font-size: 80px;
  margin-bottom: 20px;
}

.range {
  background-color: red;
  width: 90%;
  display: inline-block;
  position: relative;
}

.range .min {
  padding-right: 10px;
}
.range .max {
  padding-left: 10px;  
}
.range .good {
  background-color: green;
  display: inline-block;
}
.range .min-guess {
  position: absolute;
  top: 0;
  padding-right: 2px;
}
.range .max-guess {
  position: absolute;
  top: 0;
  padding-left: 2px;
}